
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: #F79F9F;
}

::-webkit-scrollbar-thumb {
  background-color: #ed1363;
}


body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to right, #66ffff 0%, #ff9999 100%);
}
.input-field{
  position: absolute;
  border-top-right-radius:50px;
  border-top-left-radius:50px;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
}
.input-field input::placeholder{
  font-weight: 900;
  opacity: .5;
  font-size: 1.5vw;

}
  

.submit-btn i:hover{
    transform: scale(1.5);
  }
.submit-btn i{
    transition: .5s;
    position: absolute;
    right: 32%;
    bottom: 5%;
    font-size: 120%;
}
.input-field input{
      font-family: 'Roboto Slab', serif;
      outline: none;
      padding-left: 2%;
      position: absolute;
      left: 30%;
      bottom: 3%;
      font-size: large;
      border-radius: 10px;
      height: 8vh;
      width: 40%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-color: rgb(218, 218, 218);
      transition: .5s;
}

@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
.heading h1 span{
      color: #D4B5B5;
}
.heading h1{
  text-align: center;
  margin-top: 10%;
  font-size: 8vw;
  font-family: 'Croissant One', cursive;
  color: whitesmoke;
}
.lead-heading{
  font-family: 'Roboto Slab', serif;
}
.leader-container{
  background: linear-gradient(315deg, #8496ED 0%, #8496ED 25%, rgb(236, 236, 236) 25%, rgb(215, 215, 215) 75%,  #EB565C 75%, #EB565C 100%);
}
.showcase{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.leadercompo{
  background-image: linear-gradient(to right, #768DF6 , #a8b8fecd);
  font-family: 'Croissant One', cursive;
}
.leader-btn{
  position: absolute !important;
  bottom: 5%;
}
@media(max-width:800px){
  .prompt p{
    display: none;
  }
  .prompt{
    width: 200%;
    height: 10%;
    margin-left: 2%;
    
  }
  .input-field input{
    height: 6vh;
  }
  
}